%flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

%input {
  outline: none;
  border: 2px solid white;
  padding: 30px 10px;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
}

%inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  & input {
    margin: 5px;
    flex-grow: 1;
    min-width: 300px;
    position: relative;
  }
}
%btn {
  height: 50px;
  width: auto;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  color: inherit;
  background-color: #28d2d0;
  margin: 10px 0;
}

%radio {
  border: 1px solid white;
  max-width: 100%;
  padding: 10px;
  font-weight: bold;
  margin: 15px 0;
  & input {
    height: initial;
    min-width: unset;
    min-height: unset;
    margin: 5px;
  }
  & span {
    font-size: 0.7em;
    font-weight: initial;
  }
}

%checkbox {
  font-size: 0.8em;
  margin-bottom: 10px;
  & input {
    height: initial;
    margin: 5px;
  }
}
