* {
  box-sizing: border-box;
  font-size: 22px;
}

html, body {
  height: 100%;
}

body {
  background-color: #FFC67B;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.main {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: white;
  
  min-width: 400px;
  max-width: 600px;
  
  border: 2px solid #EB8808;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 300px;
  width: 300px;
  margin: 15px 0;

  border: 2px solid #40BC6D;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  font-size: 1.5em;
}

button {
  height: 30px;
  width: 30px;

  border: none;
  border-radius: 5px;

  background-color: #EB4508;
  color: white;
  
  font-weight: 700;
  margin-bottom: 20px;
}

button:hover {
  background-color: #FF6C35;
}